@import './variables.css';
@import './reset.css';

html {
    box-sizing: border-box;
    line-height: 1.4;
    letter-spacing: 0.5px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

.app {
    padding: calc(env(safe-area-inset-top)) calc(env(safe-area-inset-right)) calc(env(safe-area-inset-bottom)) calc(env(safe-area-inset-left));
    height: 100%;
    background-color: var(--bodyBg);
    font-size: var(--bodyFontsize);
    color: var(--mainFontColor);
}

@media screen and (min-width: 759px) {
    :root {
    }
}