:root{
    /* color config */
    --bodyBg: #fff;

    --mainFontColor: #343541;
    --subMainColor: #000000;
    --lightFontColor: #8e8ea0;

    --menuColor: #ececf1;

    --headerBg: #343541;
    --headerColor: #d9d9e3;

    --aiChatColor: #374151;
    --aiChatBg: #f7f7f8;

    --borderColor: rgba(0, 0, 0, 0.1);

    --primaryBtnBg: #10a37f;
    
    --errorFontColor: #565869;
    --errorBg: #ef44441a;
    --errorBorderColor: #ef4444;

    /* --strongColor: #FF5544; */
    

    /* size config */

    --menuHeight: 40px;
    --chatHeight: 70px;

    --iconAvatarWidth: 24px;
    --iconAvatarHeight: 22px;
    --iconAvatarWrapWidth: 30px;
    --iconAvatarWrapHeight: 30px;


    --borderWidth: 0.5px;

    --bodyFontsize: 14px;
    --titleFontsize: 16px;
    /* --specFontsize: 13px; */
    --tinyFontsize: 12px;

}