:root{
    /* color config */
    --bodyBg: #EBEFF7;

    --mainFontColor: #0a2540;
    --lightFontColor: #425466;
    

    --borderColor: #CDCDCF;
    
    --emphasizeFrontColor: #ffffff;
    --emphasizeColor: #0068FF;
    
    --strongColor: #FF5544;
    

    /* size config */

    --menuHeight: 40px;
    --chatHeight: 44px;

    --borderWidth: 0.5px;

    --bodyFontsize: 14px;
    --titleFontsize: 16px;
    --specFontsize: 13px;
    --tinyFontsize: 12px;

}